.card {
  position: relative;
  margin: 0.75rem 0;
  background-color: var(--bg-card-color);
  padding: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.625rem;
}
.card__delete {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  border: none;
  background-color: var(--primary-color);
  color: inherit;
  font-weight: bold;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.card__title {
  color: var(--primary-color);
  margin-top: 0;
}

.card__link {
  color: inherit;
  display: inline-block;
  margin-top: 0.625rem;
}
.card__link::after {
  content: " ➤";
}
