:root {
  --bg-color: #333;
  --text-color: #fff;
  --primary-color: #fd1591;
  --bg-card-color: #444;
}

* {
  box-sizing: border-box;
}
*:not(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

input,
textarea {
  background-color: var(--bg-card-color);
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-family: inherit;
}

.form__container {
  padding: 1.25rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}
form label {
  font-size: 0.875rem;
}
button[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin: auto;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color: #fff;
  border: none;
  font-family: inherit;
  padding: 0.375rem 0.875rem;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--primary-color);
  color: #fff;
}

.page-container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: auto;
}

header {
  border-bottom: 2px solid var(--primary-color);
  padding: 1.25rem 0;
}
header h1 {
  margin-top: 0;
}
header nav {
  margin-top: 1.25rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  list-style: none;
}
header nav a {
  color: inherit;
  text-decoration: none;
  background-color: #444;
  padding: 0.9375rem 1.25rem;
  display: inline-block;
}

main {
  margin: 2.5rem 0;
}

footer {
  border-top: 2px solid #fff;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: inherit;
}

footer nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.error {
  text-align: center;
  padding: 0.9375rem;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0.625rem 0;
}

/*------------
  DASHBOARD
-------------*/
.dashboard__links {
  padding: 1.25rem;
}
.dashboard__links a {
  color: #fd1591;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #444;
}

td span {
  cursor: pointer;
}
.actions {
  display: flex;
  gap: 10px;
}
